.head{text-align: center;
font-size: 30px !important;
font-weight: 600;
color: green;
}
.main{margin-top: 30px;}
.paper{
    text-align: center;
    padding: 30px;
    background-color: azure;
    width:600px;
    margin:auto}
.number{margin:0 20px}